{{ define "main" }}
{{ with .Params.mapSrc }}
{{ $ratio := $.Params.mapRatio | default (slice 16 9) }}
{{ $padding := div (index $ratio 1 | float) (index $ratio 0 | float )}}
{{ $padding = mul 100 $padding }}
{{ $padding = printf "%v%%" $padding }}
<style>
  .gmap-fluid {
    position: relative;
    width: 100%;
    padding-bottom: {{ $padding | safeCSS }};
    overflow: hidden;
    height:0;
  }
    
  .gmap-fluid > iframe {
    box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  
  </style>
<div class="gmap-fluid" data-aos="fade-up">
  <iframe src="{{ . }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{{ end }}
{{ end }}