{{ define "main" }}

<div class="container-xxl p-3">
  <div class="row">
    <div id="js-buttonParent" class="col pb-3 text-center">
      <button aria-pressed="true" data-filter="*"        class="btn btn-outline-primary active">All</button>
      <button aria-pressed="false" data-filter=".single" class="btn btn-outline-primary">Single Page Layout</button>
      <button aria-pressed="false" data-filter=".multi"  class="btn btn-outline-primary">Multi Page Layout</button>
      <button aria-pressed="false" data-filter=".blog"   class="btn btn-outline-primary">Blog Ready</button>
    </div>
  </div>
  <div id="js-isotopeGrid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 ">
    {{ range .Params.templates }}
    <div class="col mb-3 js-isotopeItem {{ with .tags}}{{ delimit . " " }}{{ end }}">
      <div class="card h-100">
        {{ $title := (humanize .id) }}
        {{ $ctx := . }}
        {{ with $.Resources.GetMatch (printf "images/%s.png" .id) }}
        {{ partial "image" (dict "page" $ "src" . "title" $title 
        "class" "card-img-top" "layout" "responsive" 
        "fillRatio" (slice 3 2)
        "test" "hello"
        "widths" (slice 220 350 440 700 500)
        "sizes" "(min-width:992px)25vw,(min-width:576px)33.3vw,50vw"
         )}}
        {{ end }}
        <div class="card-body">
          <h5 class="card-title">{{ $title }}</h5>
          <p class="card-text">{{ .description }}</p>
          <a href="{{ printf "/templates/%s/" .id }}" class="btn btn-primary" target="_blank" rel="noopener">View
            Demo</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}