{{ define "main" }}

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<style>
  .swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }
/*
  .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    max-width: 600px;
    margin: auto;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */

  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.2;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;

  }
</style>
<div class="container">
  
  <!-- <div style="margin-bottom: 5rem"></div> -->
  
  <div class="row">
    <div class="col">
      {{ partial "components/c-breadcrumbs" . }}
    </div>
  </div>
  
  <H3>{{ .Title }}</h3>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="swiper gallery-top">
          <div class="swiper-wrapper">
            {{ range .Params.images }}
            <div class="swiper-slide">
              {{ partial "image" (dict "page" $ "src" . "sizes" "(min-width:768px)33.3vw,100vw")}}
            </div>
            {{ end }}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper gallery-thumbs">
          <div class="swiper-wrapper">
            {{ range .Params.images }}
            <div class="swiper-slide">
              {{ partial "image" (dict "page" $ "src" . "sizes" "(min-width:768px)6.66vw,20vw" )}}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 pt-3">
      <div class="description pb-2">
        <div class="text-muted">Description:</div>
        {{ .Content | markdownify }}
        </div>
        {{ with .Params.price }}
        <div class="size pb-2">
          <div class="text-muted">Price:</div>
          ${{ . }} inc GST
        </div>
        {{ end }}
        {{ with .Params.size }}
        <div class="size pb-2">
          <div class="text-muted">Size:</div>
          {{ . }}
        </div>
        {{ end }}
        {{ with .Params.brand }}
        <div class="brand pb-2">
          <div class="text-muted">Brand:</div>
          {{ . }}
        </div>
        {{ end }}
        {{- $snipImage := "" -}}
        {{- $snipImage = .Resources.GetMatch (printf "**%s*" (index .Params.images 0)) -}}
        {{- with $snipImage -}}
        {{ $snipImage = .Resize "240x" }}
        {{ end }}
        <div class="snip pb-2">
          <button class="snipcart-add-item btn btn-primary"
          data-item-id="{{ .Params.title }}"
          data-item-price="{{ .Params.price }}"
          data-item-url="{{ .RelPermalink }}"
          data-item-description="{{ .Description }}"
          {{ with $snipImage }}
          data-item-image="{{ .RelPermalink }}"
          {{ end }}
          data-item-name="{{ .Params.title }}"
          >
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-8">
    <div class="swiper gallery-top">
      <div class="swiper-wrapper">
        {{ range .Params.images }}
        <div class="swiper-slide">
          {{ partial "image" (dict "page" $ "src" . "sizes" "(min-width:768px)33.3vw,100vw")}}
        </div>
        {{ end }}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </div>
</div> -->

{{ end }}
