{{ define "main" }}
<section id="contact" class="contact section px-3">
  <div class="row">
    <h2 class="section__title ">{{ .Title }}</h2>
    {{ with .Params.subtitle }}
    <div class="section__subtitle">{{ . | markdownify}}</div>
    {{ end }}
  </div>

  <div class="row row d-flex justify-content-center pt-3">
      <!-- CONTACT FORM -->
      <div class="col-md-6">
        <H4>{{ .Params.formTitle }}</H4>
        {{ partial "content/contactDetails" .Params.details }}
      </div>
    <!-- CONTACT FORM -->
    <div class="col-md-6">
      <H4>{{ .Params.formTitle }}</H4>
      {{ partial "components/c-contact-form.html" . }}
    </div>
  </div> 
  </div>

</section>
{{ end }}