{{ define "main" }} 

<div class="container-xxl px-3">
  <div class="row">
    <div class="col">
      <h2 class="pb-3">{{ .Title }}</h2>
      {{ with .Params.subtitle }}
      <div class="h4 text-primary pb-2">{{ . }}</div>
      {{ end }}
      <div class="text-body">{{ .Content | markdownify }}</div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{ range .Params.cardItems  }}
    <div class="col">
      <div class="card">
        {{ partial "image" (dict "page" $ "src" (printf "images/%s" .image) "title" .title  "class" "card-img-top")}}
        <div class="card-body">
          <h4 class="card-title">{{ .title }}</h4>
          <p class="card-text">{{ .content }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}